Песня про бабусю;жили у бабуси;A_Gryzhin@igirgi.su
Песня про бабусю;два весёлых гуся;d_kudryavtsev@igirgi.su
Песня про бабусю;один серый;a_pustovarov@igirgi.su
Песня про бабусю;другой белый;a_petuhov@igirgi.su
Песня про попа;у попа была собака;A_Gryzhin@igirgi.su
Песня про попа;он её любил;d_kudryavtsev@igirgi.su
Песня про попа;она съела кусок мяса;a_pustovarov@igirgi.su
Песня про попа;он её убил;a_petuhov@igirgi.su
